{% extends 'base.html' %}

{% block title %}
    {{ category.name }} - Category Detail
{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>Description: {{ category.description }}</p>
    <h2>Products in this Category:</h2>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></li>
        {% empty %}
            <li>No products in this category yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'category_list' %}">Back to Categories</a>
{% endblock %}
