


{% extends 'base.html' %}

{% block title %}
    Daily Sales
{% endblock %}

{% block content %}
    <h1>Daily Sales</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity Sold</th>
                <th>Sale Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.product }}</td>
                    <td>{{ sale.quantity_sold }}</td>
                    <td>{{ sale.sale_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
